.git
.env
.env.*
.venv
__pycache__
**/__pycache__
**/*.egg-info
.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache
.ipynb_checkpoints
outputs
data
models
tests
*.dump
*.sqlite
*.sqlite3
*.joblib
*.log
.DS_Store
.idea
.vscode
